@model Supermarket.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_NIF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_NIF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Birth_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Birth_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Admission_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Admission_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Termination_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Termination_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_Check_In_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_In_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_Check_Out_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_Out_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_Almoco_Padrao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_Almoco_Padrao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Standard_Lunch_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Standard_Lunch_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_Time_Bank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_Time_Bank)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
