@model Supermarket.Models.Employee

@{
    ViewData["Title"] = "Details";

}

<h1>Details</h1>

<div>
    <div>
        @if (User.IsInRole("Administrator"))
        {
             <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Phone)
        </dd>
        <dt class="col-sm-2">
            NIF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_NIF)
        </dd>
        <dt class="col-sm-2">
            Birth Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Birth_Date)
        </dd>
        <dt class="col-sm-2">
            Admission Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Admission_Date)
        </dd>
        <dt class="col-sm-2">
            Termination Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Termination_Date)
        </dd>
        <dt class="col-sm-2">
            Check In
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_In_Time)
        </dd>
        <dt class="col-sm-2">
            Check Out
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_Out_Time)
        </dd>
        <dt class="col-sm-2">
            Lunch Hour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Lunch_Hour)
        </dd>
        <dt class="col-sm-2">
            Lunch Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Lunch_Time)
        </dd>
        <dt class="col-sm-2">
            Time Bank
        </dt>
        <dd class="col-sm-10">
            @Model.Employee_Time_Bank.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Departments?.NameDepartments
        </dd>
            </dl>

            <div>
                <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-success btn-sm">Edit</a> |
                <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
            </div>

        } @if (User.IsInRole("Employeer") && !User.IsInRole("Manager"))
        {
            <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Email)
        </dd>
        <dt class="col-sm-2">
            Password
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Password)
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Phone)
        </dd>
        <dt class="col-sm-2">
            NIF
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_NIF)
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Address)
        </dd>
        <dt class="col-sm-2">
            Birth Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Birth_Date)
        </dd>
        <dt class="col-sm-2">
            Admission Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Admission_Date)
        </dd>
        <dt class="col-sm-2">
            Termination Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee_Termination_Date)
        </dd>
        <dt class="col-sm-2">
            Check In
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_In_Time)
        </dd>
        <dt class="col-sm-2">
            Check Out
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Check_Out_Time)
        </dd>
        <dt class="col-sm-2">
            Lunch Hour
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Lunch_Hour)
        </dd>
        <dt class="col-sm-2">
            Lunch Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Standard_Lunch_Time)
        </dd>
        <dt class="col-sm-2">
            Time Bank
        </dt>
        <dd class="col-sm-10">
            @Model.Employee_Time_Bank.ToString(@"hh\:mm")
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.Departments?.NameDepartments
        </dd>
    </dl>

            <div>
                <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn btn-success btn-sm">Edit</a> |
                <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
            </div>
        }
    </div>



