@model PontoDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Ponto.Date.Value.Date.ToString("dd/MM/yyyy")</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto.CheckInTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ponto.CheckInTime) - @Html.DisplayFor(model => model.Escala.CheckInTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto.LunchStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ponto.LunchStartTime) - @Html.DisplayFor(model => model.Escala.LunchStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto.LunchEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ponto.LunchEndTime) - @TimeSpan.Parse(Model.Escala.LunchStartTime).Add(TimeSpan.FromMinutes(Model.Escala.LunchTime))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto.CheckOutTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ponto.CheckOutTime) - @Html.DisplayNameFor(model => model.Escala.CheckOutTime)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ponto.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ponto.Status)
        </dd>
        @if (Model.Ponto.Status == "Negado" || Model.Ponto.Status == "Aprovado" || Model.Ponto.Status == "Irregular")
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ponto.Justificative)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ponto.Justificative)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
