@model Supermarket.Models.Store

@{
    ViewData["Title"] = "Delete";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>@ViewBag.ErrorMessage</p>
        <a asp-action="Index">Back to List</a>
    </div>
    @if (ViewBag.AssociatedHallways != null)
    {
        <div>
            <h4>Associated Hallways</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hallway in ViewBag.AssociatedHallways)
                    {
                        <tr>
                            <td>@hallway.Description</td>
                            <td>
                                <a asp-action="Details" asp-controller="Hallways" asp-route-id="@hallway.HallwayId" class="btn btn-secondary">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
 
    }

}
else{
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StoreId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
}
