@model Supermarket.Models.PurchaseListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Close to expiration</h1>

<p>
    Show products that expires in 1 week or less
</p>
<div class="card mb-3">
    <div class="card-body">
        <form asp-action="CloseToExpire" method="get">
            <p><strong>Search</strong></p>

            <label for="product" class="control-label">Product</label>
            <input name="product" type="search" class="form-control" value="@Model.SearchProduct" />

            <label for="supplier" class="control-label">Supplier</label>
            <input name="supplier" type="search" class="form-control" value="@Model.SearchSupplier" />

            <label for="expirationdate" class="control-label">Expiration Date</label>
            <input name="expirationdate" type="date" class="form-control" value="@Model.SearchExpirationDate?.ToString("yyyy-MM-dd")" />


            <div class="mt-3">
                <input class="btn btn-primary" type="submit" value="Search" />
                <a class="btn btn-secondary" asp-action="CloseToExpire">Cancel</a>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Purchase.First().Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase.First().Supplier)
            </th>
            <th>
                Quantity
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase.First().BatchNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purchase.First().ExpirationDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Purchase) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatchNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PurchaseId" class="btn btn-info">Details  </a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    int initialPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
    if (initialPage < 1) initialPage = 1;
    int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
    if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.Pagination.CurrentPage > initialPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="1" aria-label="Previous">
                    <span aria-hidden="true">
                        &laquo
                    </span>
                </a>
            </li>
        }
        @for (int p = initialPage; p <= finalPage; p++)
        {

            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active "><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="@p">@p</a>
                </li>
            }
        }

        @if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="@Model.Pagination.TotalPages" aria-label="Next">
                    <span aria-hidden="true">
                        &raquo
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>
<small style="color:gray" class="pagination justify-content-center"><i>Total count: @Model.Pagination.TotalItems </i></small>
<a asp-action="Index">Back</a>
