@model IEnumerable<Supermarket.Models.Employee>

@{
    ViewData["Title"] = "EmployeeView";
}

<h1>EmployeeView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
