@model IssueTypeListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueType.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueType.First().IssueDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IssueType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IssueTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IssueTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IssueTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    int initialPage = Model.Pagination.CurrentPage - PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
    if (initialPage < 1) initialPage = 1;
    int finalPage = Model.Pagination.CurrentPage + PagingInfo.NUMBER_PAGES_SHOW_BEFORE_AFTER;
    if (finalPage > Model.Pagination.TotalPages) finalPage = Model.Pagination.TotalPages;
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.Pagination.CurrentPage > initialPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="1" aria-label="Previous">
                    <span aria-hidden="true">
                        &laquo
                    </span>
                </a>
            </li>
        }
        @for (int p = initialPage; p <= finalPage; p++)
        {

            if (p == Model.Pagination.CurrentPage)
            {
                <li class="page-item active "><a class="page-link" href="#">@p</a></li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="@p">@p</a>
                </li>
            }
        }

        @if (Model.Pagination.CurrentPage < Model.Pagination.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" asp-route-employeeName="@ViewBag.FilterEmployeeName" asp-route-description="@ViewBag.FilterDescription" asp-route-employeeId="@ViewBag.EmployeeId" asp-route-page="@Model.Pagination.TotalPages" aria-label="Next">
                    <span aria-hidden="true">
                        &raquo
                    </span>
                </a>
            </li>
        }
    </ul>
</nav>
<small style="color:gray" class="pagination justify-content-center"><i>Total count: @Model.Pagination.TotalItems </i></small>
