@model IEnumerable<Supermarket.Models.Shelf>

@{
    ViewData["Title"] = "Shelf List";
}

<style>
    body {
        padding: 20px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h2 {
        color: #007bff;
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 20px;
        margin-bottom: 20px;
    }

    .table th,
    .table td {
        background-color: #f8f8f8;
        color: #000;
        border: none;
    }

    .btn-create {
        background-color: #28a745;
        color: #fff;
    }
</style>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">@ViewBag.HallaysName - Shelf</h2>
        <p class="card-text">Total Shelf: @ViewBag.TotalShelft</p>
    </div>
</div>

@if (ViewBag.TotalShelft != null && ViewBag.TotalShelft > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Shelf Name</th>
                <th>Hallway</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shelf in ViewBag.Shelves)
            {
                <tr>
                    <td>@shelf.Name</td>
                    <td>@shelf.Hallway.Description</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a asp-controller="Shelves" asp-action="Edit" asp-route-id="@shelf.ShelfId" class="btn btn-secondary">Edit</a>
                            <a asp-controller="Shelves" asp-action="Details" asp-route-id="@shelf.ShelfId" class="btn btn-secondary">Details</a>
                            <a asp-controller="Shelves" asp-action="ShelfProducts" asp-route-shelfId="@shelf.ShelfId" class="btn btn-secondary">View Products</a>
                            <a asp-controller="Shelves" asp-action="Delete" asp-route-id="@shelf.ShelfId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="card-text">No shelves found.</p>
}


<a asp-controller="Shelves" asp-action="Create" asp-route-hallwaysId="@ViewBag.HallwaysId" class="btn btn-create">Create Shelf</a>
<a asp-action="Index" asp-controller="Hallways" asp-route-storeId="@ViewBag.StoreId" class="btn btn-secondary">Back to Hallway List</a>