@model Supermarket.Models.CardMovement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CardMovement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movement_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movement_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealCard.MealCardId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardMovementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
