@model Supermarket.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedules</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyFinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDDepartments)
        </dt>
        <dd class = "col-sm-10">
            @ViewData["DepartmentName"]
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
