@model Supermarket.Models.PurchaseProductSupplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseProductSupplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseSupplier.PurchaseSupplierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AskedQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AskedQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateDeliveryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateDeliveryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PurchaseProductSupplierId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
