@model IEnumerable<Supermarket.Models.Reserve>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReserveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeFunc)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReserveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeFunc)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.ReserveId" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.ReserveId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReserveId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
