@model Supermarket.Models.Order

@{
    ViewData["Title"] = "Products Details";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success</h4>
        <p>@ViewBag.Message</p>
    </div>
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        @foreach (var item in Model.UserOrders)
        {
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                @item.Product.Category.Name
            </dd>
            <dt class="col-sm-2">
                Product Name
            </dt>
            <dd class="col-sm-10">
                @item.Product.ProductName
            </dd>
        }

        
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            Preparation Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPreparationTimeAsMinutes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
