@model List<Supermarket.Models.CategoryDiscounts>

@{
    ViewData["Title"] = "ConfirmCategoryDiscounts";
}

<h1>ConfirmCategoryDiscounts</h1>
<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Client Card</th>
            <th>Value</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.CategoryDiscountsId" class="btn btn-outline-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.CategoryDiscountsId" class="btn btn-outline-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryDiscountsId" class="btn btn-outline-secondary">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.CategoryDiscountsId" class="btn btn-outline-secondary">Details</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Edit">Edit</a>
    <a asp-action="CancelConfirmedDiscounts">Cancel</a>
</div>
