@model Supermarket.Models.SubsidySetup
@{
    ViewData["Title"] = "DeleteConfirmed";
}

<h1>DeleteConfirmed</h1>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Success</h4>
    <p> successfully deleted.</p>
</div>

<h1>@ViewBag.valorSubsidioDiario</h1>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMinTrabalhadas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorasMinTrabalhadas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSubsidioDiario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorSubsidioDiario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntradaVigor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEntradaVigor)
        </dd>
    </dl>

    <a asp-action="Index">Back to List</a>

</div>

