@model Supermarket.Models.SubsidySetup

@{
    ViewData["Title"] = "Delete";
   
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubsidySetup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMinTrabalhadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMinTrabalhadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorSubsidioDiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorSubsidioDiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamentoMensal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamentoMensal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubsidySetupId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
