@model Supermarket.Models.SubsidySetup

@{
    ViewData["Title"] = "Details";
}

<style>
       .teste{
        margin-left:15%;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size:20px;
        border-radius: 50px 20px;
        margin: 20px;
    }
    h2{
        text-align:center;
    }


    .form-group {
        padding: 5%;
    }

    a:link {
        text-decoration: none;
    }
</style>

<h2>Details SubsidySetup</h2>


    <div class="teste">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasMinTrabalhadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasMinTrabalhadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSubsidioDiario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorSubsidioDiario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamentoMensal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamentoMensal)
        </dd>
    </dl>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.SubsidySetupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>