@model IEnumerable<Supermarket.Models.SubsidySetup>

@{
    ViewData["Title"] = "Index";
    Layout = "sqlServer";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorasMinTrabalhadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorSubsidioDiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamentoMensal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorasMinTrabalhadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorSubsidioDiario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamentoMensal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubsidySetupId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubsidySetupId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubsidySetupId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
