@model Supermarket.Models.Hallway

@{
    ViewData["Title"] = "Delete";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>@ViewBag.ErrorMessage</p>

        <a asp-action="Index" asp-controller="Hallways" asp-route-storeId="@Model.StoreId" class="btn btn-secondary">Back to List</a>
    </div>
    @if (ViewBag.ShelfsAssociatedWithHallway != null)
    {
        <div>
            <h4>Associated Shelves</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var shelf in ViewBag.ShelfsAssociatedWithHallway)
                    {
                        <tr>
                            <td>@shelf.Name</td>
                            <td>
                                <a asp-action="Details" asp-controller="Shelves" asp-route-id="@shelf.ShelfId" class="btn btn-info">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Hallway</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Store)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Store.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="HallwayId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" asp-controller="Hallways" asp-route-storeId="@Model.StoreId" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
}