@model Supermarket.Models.Shelft_ProductExhibition

@{
    ViewData["Title"] = "Shelft Product Exhibition Details";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Success</h4>
        <p>@ViewBag.Message</p>
    </div>
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <h4 class="alert-heading">Success</h4>
        @TempData["Message"]
    </div>
}
<h1>Details</h1>

<div>
    <h4>Shelft_ProductExhibition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shelf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shelf.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-ProductId="@Model.ProductId" asp-route-shelftId="@Model.ShelfId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
