@model Supermarket.Models.ReduceProduct

@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirm</h1>    

<h4>ReduceProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product!.Name), @Html.DisplayFor(model => model.Product!.Brand!.Name)
        </dd>
        @if (Model.WarehouseSection != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WarehouseSection)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WarehouseSection!.Description), @Html.DisplayFor(model => model.WarehouseSection!.Warehouse!.Name)
            </dd>
        }
        @if (Model.Shelf != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Shelf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Shelf!.Name), @Html.DisplayFor(model => model.Shelf!.Hallway!.Description), @Html.DisplayFor(model => model.Shelf!.Hallway!.Store!.Name)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
