@model IEnumerable<Supermarket.Models.EmployeeSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LunchStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LunchTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Employee_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LunchTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeScheduleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeScheduleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeScheduleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
