@model Supermarket.Models.Folga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Folga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.motivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.folgaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
