
@{
    ViewData["Title"] = "FolgasAprovadas";
}

<h1>Folgas Aprovadas</h1>
<table>
    <thead>
        <tr>

            <th>Pedido</th>>
            <th></th>
            <th></th>
            <th>Início</th>
            <th></th>
            <th></th>
            <th> Fim</th>
            <th></th>
            <th></th>
            <th>Motivo</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>


            <th>Gestor</th>






        </tr>
    </thead>


    <tbody>
        @foreach (var Folga in Model)
        {


            <tr>

                <td>@Folga.DataPedido.ToShortDateString()</td>
                <td></td>
                <td></td>
                <td>@Folga.DataInicio.ToShortDateString()</td>
                <td></td>
                <td></td>
                <td>@Folga.DataFim.ToShortDateString()</td>
                <td></td>
                <td></td>
                <td>@Folga.Motivo</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              
                <td>@Folga.Gestor</td>
                <td></td>
                <td></td>
                
            </tr>
        }
    </tbody>
</table>


        }



