@model IEnumerable<Supermarket.Models.Folga>

@{
    ViewData["Title"] = "Index";
}

<h1>Folgas</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert_success" role="alert">@TempData["SuccessMessage"]</div>
}

<p>
    <a asp-action="Create">Criar novo pedido de folga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Gestor
            </th>
            <th>
                Status
            </th>
            <th>
                Data Pedido
            </th>
            <th>
                Início
            </th>
            <th>
                Fim
            </th>
            <th>
                Motivo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gestor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FolgaId">Alterar</a> |
                <a asp-action="Details" asp-route-id="@item.FolgaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FolgaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
