@model IEnumerable<Supermarket.Models.Folga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.dataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.folgaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.folgaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.folgaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
