@model IEnumerable<Supermarket.Models.Folga>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GestorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataResultado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GestorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataResultado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Employee_Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FolgaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FolgaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FolgaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
