@model IEnumerable<Supermarket.Models.Departments>

@{
    ViewData["Title"] = "Departamentos";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameDepartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionDepartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateDepartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkillsDepartments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuatDepMed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameDepartments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionDepartments)
            </td>
            <td>
                @(item.StateDepartments ? "Activo" : "Desativo")
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillsDepartments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuatDepMed)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Edit,Details,Delete">
                        <a asp-action="Edit" asp-route-id="@item.IDDepartments" class="btn btn-outline-success">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.IDDepartments" class="btn btn-outline-dark">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.IDDepartments" class="btn btn-outline-danger"
                 onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

