@model IEnumerable<Supermarket.Models.Departments>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name_Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description_Departments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Departments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description_Departments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ScheduleID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Departments">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Departments">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Departments">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
