@model IEnumerable<Supermarket.Models.ProductDiscount>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Discounts</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductDiscountId" class="btn btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductDiscountId" class="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductDiscountId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
