@model Supermarket.Models.FormationEmployee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormationEmployee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formation.Formation_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Employee_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaAtribuida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaAtribuida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormationEmployeeId">Edit</a> |
    <a asp-action="Index"class="btn btn-success btn-sm">Back to list</a>
</div>
