@model IEnumerable<Supermarket.Models.PurchaseSupplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.HeadQuarters)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseSupplierId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseSupplierId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseSupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
