@model IEnumerable<Supermarket.Models.Funcao>

@{
    ViewData["Title"] = "Funcao";
}
<h3>
    @if (TempData["Mensagem"] != null)
    {
        <div class="alert alert-danger" role="alert">
                @TempData["Mensagem"]
        </div>
    }
    else if(TempData["MensagemPositiva"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemPositiva"]
        </div>
    }
</h3>
  
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoFuncao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoFuncao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFuncao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFuncao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFuncao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
