@model Supermarket.Models.Funcoes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-success d-flex align-items-center" role="alert">
        @ViewBag.Mensagem
    </div>
}
<div>
    <h4>Funcoes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFuncao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFuncao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoFuncao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoFuncao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFuncao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
