@model Supermarket.Models.Issues

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Issues</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueType.IssueDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueRegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueRegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Severity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Severity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IssueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
