@{
    ViewData["Title"] = "Rotative Inventory";
}

<h1>Rotative Inventory</h1>

@{
    var warehouseSections = ViewData["WarehouseSections"] as IEnumerable<Supermarket.Models.WarehouseSection>;
    int warehouseSectionId;
    var selectedWarehouseSection = (Supermarket.Models.WarehouseSection)null;

    if (int.TryParse(Context.Request.Query["WarehouseSectionId"], out warehouseSectionId) && warehouseSectionId > 0)
    {
        selectedWarehouseSection = warehouseSections?.FirstOrDefault(w => w.WarehouseSectionId == warehouseSectionId);
    }
}

<form asp-controller="Products" asp-action="RotativeProducts" method="get">
    <div class="form-group">
        <label for="WarehouseSectionId">Select Warehouse Section:</label>
        <select name="WarehouseSectionId" class="form-control">
            <option value="">-- All Warehouse Sections --</option>
            @if (warehouseSections != null)
            {
                foreach (var warehouseSection in warehouseSections)
                {
                    <option value="@warehouseSection.WarehouseSectionId">@warehouseSection.Description,  @warehouseSection.Warehouse.Name</option>
                }
            }
        </select>
    </div>
    <div style ="margin-top: 5px;">
    <button type="submit" class="btn btn-primary">Submeter</button>
    </div>
</form>

<div style="margin-top: 20px;">
   
    @if (warehouseSectionId > 0 && selectedWarehouseSection != null)
    {
        <h2>Selected Warehouse Section: @selectedWarehouseSection.Description</h2>
        <p>Belongs to Warehouse: @selectedWarehouseSection.Warehouse.Name</p>

        @if (selectedWarehouseSection.Products != null && selectedWarehouseSection.Products.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name Product</th>
                        <th>Description</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Product count </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var warehouseSectionProduct in selectedWarehouseSection.Products)
                    {
                        <tr>
                            <td>
                                @if (warehouseSectionProduct.Product != null)
                                {
                                    @warehouseSectionProduct.Product.Name
                                }
                                else
                                {
                                    <span style="color: red;">Erro: Product not available</span>
                                }
                            </td>
                            <td>
                                @warehouseSectionProduct.Product.Description
                            </td>
                            <td>
                                @warehouseSectionProduct.Product.Brand.Name
                            </td>
                            <td>
                                @warehouseSectionProduct.Product.Category.Name
                            </td>
                            <td>
                                @warehouseSectionProduct.Quantity
                            </td>
                            <td>
                                <input type="number" name="quantities[@warehouseSectionProduct.ProductId]" min="0" max="99999" value="0" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>
                No products available in this section of the warehouse.
            </p>
        }
    }
    else
    {
        <p>Select a warehouse section to display corresponding products.</p>
    }
</div>


