@model IEnumerable<Supermarket.Models.Hierarquias>;

@{
    ViewData["Title"] = "Relacoes Hierarquicas";
    var employeesViewModel = ViewData["EmployeesViewModel"] as Supermarket.Models.EmployeesViewModel;
}

@if (ViewBag.MensagemExclusao != null)
{
    <div id="mensagemExclusao" class="alert alert-danger" role="alert" style="width: 33%;">
        @ViewBag.MensagemExclusao
        <div class="progress" style="height: 10px; margin-top: 5px;">
            <div id="progressBar" class="progress-bar bg-danger" role="progressbar"></div>
        </div>
    </div>
}

<h2>Lista de Relacoes Hierarquicas</h2>

<p>
@*     @if (User.IsInRole("Administrator"))
        { *@
    <a asp-action="Create" class="btn btn-success">Nova Relacao Hierarquica</a>
    <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">Gerenciar Funcionarios</a>
@*         } *@
    <a asp-action="SearchSubordinados" class="btn btn-info">Pesquisar Subordinados</a>
    <a asp-action="SearchSuperiores" class="btn btn-warning">Pesquisar Superiores</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Funcionário</th>
            <th>Superior</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subordinados.Employee_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Superiores.Employee_Name)
                </td>
@*                 @if (User.IsInRole("Administrator"))
                { *@
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
@*                 } else
                {
                    <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    </td>
                } *@
            </tr>
        }
    </tbody>
        <tr class="table-separator">
            <th colspan="3">Todos os funcionários</th>
        </tr>
        @if (employeesViewModel != null)
        {
            foreach (var employee in employeesViewModel.Employees)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => employee.Employee_Name)</td>
                    @* <td>@Html.DisplayFor(modelItem => employee.Employee_NIF)</td> *@
                </tr>
            }
        }
</table>

<style>
    .progress {
        height: 10px;
        margin-top: 5px;
    }

    #progressBar {
        width: 100%;
        height: 100%;
        transition: width 3s linear;
    }
</style>

<script>
    var progressBar = document.getElementById('progressBar');
    var mensagemExclusao = document.getElementById('mensagemExclusao');

    progressBar.style.width = '100%';

    var duracaoAnimacao = 3000;

    var interval = setInterval(function () {
        var width = parseFloat(progressBar.style.width);
        if (width > 0) {
            progressBar.style.width = (width - (1 / 30) * 100, 0) + '%'; // 1/30 para 30 atualizações por segundo
        } else {
            clearInterval(interval);
            setTimeout(function () {
                mensagemExclusao.style.display = 'none';
            }, duracaoAnimacao);
        }
    }, duracaoAnimacao / 1000);
</script>
