@model List<EmployeeViewModel>

@{
    ViewData["Title"] = "Hierarquias";
}

<h2>Superidade Hierarquica Supermarket</h2>

<p>
    <a asp-controller="Employees" asp-action="Index" class="btn btn-info">Gerenciar Empregados</a>

    <a asp-action="AllHierarquias" class="btn btn-info">Gerenciar Cargos Hierárquicos</a>

    <a asp-controller="Funcao" asp-action="Index" class="btn btn-info">Gerenciar Funcoes</a>
</p>

<table class="table">
<thead>
    <tr>
        <th>ID</th>
        <th>Nome do Funcionário</th>
        <th>Hierarquia</th>
        <th>Nível Hierárquico</th>
        <th>Função</th>
        <th>Ações</th>
    </tr>
</thead>
<tbody>
    @foreach (var employee in Model)
    {
        <tr>
            <td>@employee.EmployeeId</td>
            <td>@employee.EmployeeName</td>
            <td>@employee.HierarquiaNome != null ? employee.Hierarquia.Nome : "Sem Hierarquia"</td>
            <td>@employee.HierarquiaNome != null ? employee.Hierarquia.NivelHierarquia : 0</td>
            <td>@employee.FuncaoNome != null ? employee.Funcao.NomeFuncao : "Sem Função"</td>
            <td>
                <a asp-action="Details" asp-route-id="@employee.EmployeeId" class="btn btn-info">Detalhes</a>
                <a asp-action="Edit" asp-route-id="@employee.EmployeeId" class="btn btn-warning">Editar</a>
                <!-- Adicione botões para atribuir hierarquia e função -->
                <a asp-action="AssignHierarquia" asp-route-id="@employee.EmployeeId" class="btn btn-primary">Atribuir Hierarquia</a>
                <a asp-action="AssignFuncao" asp-route-id="@employee.EmployeeId" class="btn btn-success">Atribuir Função</a>
            </td>
        </tr>
    }
</tbody>
</table>
<style>
    .progress {
        height: 10px;
        margin-top: 5px;
    }

    #progressBar {
        width: 100%;
        height: 100%;
        transition: width 3s linear;
    }
</style>

<script>var progressBar = document.getElementById('progressBar');
    var mensagemExclusao = document.getElementById('mensagemExclusao');

    progressBar.style.width = '100%';

    var duracaoAnimacao = 3000;

    var interval = setInterval(function () {
        var width = parseFloat(progressBar.style.width);
        if (width > 0) {
            progressBar.style.width = (width - (1 / 30) * 100, 0) + '%'; // 1/30 para 30 atualizações por segundo
        } else {
            clearInterval(interval);
            setTimeout(function () {
                mensagemExclusao.style.display = 'none';
            }, duracaoAnimacao);
        }
    }, duracaoAnimacao / 1000);</script>