@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        padding: 20px;
        background-color: #f8f9fa; /* Cor de fundo mais clara */
        color: #343a40; /* Cor do texto mais escura */
    }

    h2 {
        color: #007bff; /* Azul Bootstrap */
        margin-top: 20px; /* Margem superior maior */
    }

    .lead {
        font-size: 1.25rem; /* Tamanho de fonte maior */
        margin-bottom: 20px; /* Margem inferior maior */
    }

    .card {
        background-color: #fff; /* Cor de fundo do cartão */
        border: 1px solid rgba(0, 0, 0, 0.125); /* Borda do cartão */
        border-radius: 0.25rem; /* Borda arredondada */
        padding: 20px; /* Espaçamento interno do cartão */
        margin-bottom: 20px; /* Margem inferior do cartão */
    }

    .table th, .table td {
        background-color: #f8f8f8; /* Cor de fundo alternativa (cinza mais claro) para as células da tabela */
        color: #000; /* Cor do texto na tabela */
        border: none; /* Remove bordas das células da tabela */
    }
</style>

<div class="container">
    <div class="card">
        <h2 class="mt-4">@ViewBag.SectionName - Products</h2>
        <div class="lead">Total Products: @ViewBag.TotalProducts</div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ViewBag.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductDescription</td>
                    <td>@product.BrandName</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index" asp-route-warehouseId="@ViewBag.WarehouseId" class="btn btn-secondary">Back to List</a>

</div>


